# secrets
PROXMOX_API_KEY="PVEAPIToken=<your-username>!<your-token-name>=<your-api-key>"
DISCORD_WEBHOOK_URL="https://discord.com/api/webhooks/<your-webhook-url>"  # Replace with your Discord webhook URL