[Unit]
Description=Proxmox Task Notification Service
After=network.target

[Service]
ExecStart=/opt/proxmox-discord-notify/proxmox-discord-bot.sh
WorkingDirectory=/opt/proxmox-discord-notify
Restart=always
User=root
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=proxmox-notifier

[Install]
WantedBy=multi-user.target
